<div class="text-center">

    <p>
        <button class="btn btn-primary" (click)="openGoogelMapsModal()">Open Google Map</button>
    </p>
    <p *ngIf="coordinates.latitude">
        <button class="btn btn-primary" (click)="showSunriseSunsetTimes()">Get Sun Times</button>
    </p>
    <h1>
        <p *ngIf="coordinates.address">
            Address: {{coordinates.address}}
        </p>
    </h1>
    <h3>
        <p *ngIf="coordinates.latitude">
            Latitude: {{coordinates.latitude}}
        </p>
        <p *ngIf="coordinates.longitude">
            Longitude: {{coordinates.longitude}}
        </p>
    </h3>

   <h3>
        <p *ngIf="sunRise">
            Sun Rise: {{sunRise}}
        </p>
        <p *ngIf="sunSet">
            Sun Set: {{sunSet}}
        </p>
    </h3>
</div>
